*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.element{
  margin: 5px;
  border: solid 1px black;
}

.titulo{
  display: flex;
  justify-content: center;
}

.imagen{
  display: flex;
  justify-content: center;
  align-items: center;  
}

.titulo h1{
  color: #555;
}

.element{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess{
  text-transform: uppercase;
}

/* MEDIA QUERIES */
@media (max-width: 768px){
  .imagen{
    flex-direction: column;
    justify-content: center;
  }
}



ul{
  margin-left: 20px;
}